<button class="btn-default"><a href="/"> HOME PAGE </a></button>

<form id="signup">
    <ul class="errorMessages"></ul>
    
    <div>
        <label for="name">Username:</label>
        <input style="color:#000" id="name" type="text" name="username" required>
    </div>

    <div>        
        <label for="email">Email add:</label>
        <input style="color:#000" id="email" type="text" name="email" required>
    </div>
    
    <div>        
        <label for="password">Password:</label>
        <input style="color:#000" id="password" type="password" name="password" required>
    </div>

    <div class="buttons">
        <button style="color:#000">CREATE ACCOUNT</button>
    </div>
</form>​
