<form>
    <ul class="errorMessages"></ul>
    
    <div>
        <label for="name">Username:</label>
        <input id="name" type="text" name="username" required>
    </div>

    <div>        
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" required>
    </div>
    
    <div>        
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required>
    </div>

    <div class="buttons">
        <button>CREATE ACCOUNT</button>
    </div>
</form>​